.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 70%;
  width: 70%;
}

:root {
  --md-admonition-icon--check-work: "👀"; /* Twemoji eye emoji */
}

.md-typeset .admonition.check-work,
.md-typeset details.check-work {
  border-color: rgb(138, 43, 155);
}

.md-typeset .check-work > .admonition-title,
.md-typeset .check-work > summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .check-work > .admonition-title::before,
.md-typeset .check-work > summary::before {
  content: var(--md-admonition-icon--check-work);
  -webkit-mask-image: none;
          mask-image: none;
  background-color: transparent; /* Remove background color */
  font-size: inherit; /* Use the font size of the parent element */
}

.progress-pbj {
  color: #EE0F0F;
  size-adjust: 1.15;
}